:root {
    --body-color: #fff;
    --midnight-blue: #27374D;
    --steel-blue: #526D82;
    --pale-cerulean: #9DB2BF;
    --blue-gray: #bfd2e0;
    --light-steel-blue: #f1f5f8;
    --paley-blue: #d3dee6;
    --white: #fff;
    --header-white-color: #fff;

    /* for night mode btn  */
    --display-none: none;
    --display-block: block;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: var(--steel-blue);
}

ul {
    list-style: none;
}

button {
    border: none;
    background: none;
    color: var(--steel-blue);
    font-size: 16px;
    font-family: 'Geologica', 'sans-serif';
}

h2 {
    color: #27374D;
    font-size: 36px;
    line-height: 38px;
    margin-bottom: 20px;
}

h3 {
    font-size: 20px;
    line-height: 25px;
}

p {
    font-size: 18px;
    line-height: 21px;
}

section {
    padding: 90px 0;
}
.margin-0{
    margin: 0 !important;
}
.body {
    color: var(--steel-blue);
    font-family: 'Geologica', 'sans-serif';
    background: var(--body-color);
    scroll-behavior: smooth;
}

.night-mode {
    --body-color: var(--light-steel-blue);
    --midnight-blue: #27374D;
    --steel-blue: #fff;
    --pale-cerulean: #9DB2BF;
    --blue-gray: #bfd2e0;
    --light-steel-blue: #2a4f6c;
    --paley-blue: #526D82;
    --white: #27374D;
    --header-white-color: #fff;
    /* for night mode btn  */
    --display-none: block;
    --display-block: none;
}

.container {
    max-width: 1280px;
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
    margin-right: auto;
    margin-left: auto;
}

.left-0 {
    left: 0;
}

.right-0 {
    right: 0;
}

.display-none {
    display: none;
}


/* top  */
.top-cta {
    width: 100%;
    padding: 18px 0;
    background: #f1f5f8;
    font-size: 14px;
}

.top-cta-parent {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: var(--steel-blue);
}

.top-cta-email-link,
.phone-numbers-parent a {
    color: var(--steel-blue);
    font-weight: 500;
}

.top-cta-email-link:hover {
    text-decoration: underline;
}

/* phone numbers  */
.phone-numbers-parent {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.phone-numbers-parent span {
    display: flex;
    align-items: center;
    margin-bottom: 2px;
}

.phone-numbers-parent a:nth-child(1) {
    margin-right: 2px;
}

.phone-numbers-parent a:hover {
    text-decoration: underline;
}

.call-center-worker-icon {
    width: 21px;
    height: 21px;
    margin-left: 4px;
}

/* social networks */
.social-networks {
    display: flex;
    align-items: center;
}

.social-networks a {
    display: flex;
    width: 45px;
    height: 45px;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    border: 1px solid var(--steel-blue);
    margin-left: 6px;
    transition: all 0.2s ease;
}

.social-networks a:hover {
    background: #9db2bf3f;
}

.social-network-icon {
    width: 21px;
    height: 21px;
    color: var(--steel-blue);
}

/* lang(language) */
.lang-list {
    display: flex;
    justify-content: stretch;
    position: relative;
    z-index: 2;
}

.lang-list-child {
    display: flex;
    width: 95px;
    align-items: center;
    font-size: 16px;
    padding: 10px;
    border-radius: 4px;
    background: var(--paley-blue);
    z-index: 1;
}

.lang-list-arrow-icon,
.travel-list-arrow- {
    width: 10px;
}

.lang-list-arrow-icon {
    transform: rotate(180deg);
    color: var(--steel-blue);
}

.lang-list-child img {
    width: 30px;
    height: 20px;
}

.lang-list-child a,
.lang-btn {
    display: flex;
    align-items: center;
    color: var(--steel-blue);
    font-weight: 500 !important;
}

.lang-list-last-child {
    position: absolute;
    z-index: 0;
    top: 0;
}

.lang-btn span {
    margin-right: 4px;
}

@keyframes arrowRotate180deg {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(180deg);
    }
}

.rotate180deg {
    transform: rotate(180deg);
    animation: arrowRotate180deg 0.2s ease;
}

@keyframes arrowRotate0deg {
    0% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(0);
    }
}

.rotate0deg {
    transform: rotate(0);
    animation: arrowRotate0deg 0.2s ease;
}

@keyframes bringDown {
    0% {
        opacity: 0;
        top: 0;
    }

    100% {
        opacity: 1;
        top: 42px;
    }
}

.bring-down {
    opacity: 1;
    top: 42px;
    animation: bringDown 0.2s ease;
    box-shadow: 0 2px 4px 0 #00000037;
}

/* header  */
.header {
    position: fixed;
    width: 100%;
    top: 0;
    padding: 20px 0;
    background: transparent;
    transition: all 0.5s ease;
    z-index: 1;
}

.header-parent,
.header-parent-second-child,
.header-list {
    display: flex;
    align-items: center;
}

.header-parent {
    justify-content: space-between;
}

.logo-img {
    width: 160px;
    height: 47px;
}

.header-list-child {
    position: relative;
}

.header-list-child a,
.travel-list-btn span {
    font-size: 15px;
}

.header-list-child:not(:last-child) {
    margin-right: 20px;
}


/* travel list  */
.travel-list {
    width: 200px;
    position: absolute;
    top: 28px;
    padding: 10px 16px;
    border-radius: 6px;
    background: var(--white);
    box-shadow: 0 2px 4px 0 #00000037;
}

@keyframes bringDown2 {
    0% {
        opacity: 0;
        top: 0;
    }

    100% {
        opacity: 1;
        top: 28px;
    }
}

.travel-list-child-bring-down {
    opacity: 1;
    top: 28px;
    animation: bringDown2 0.2s ease;
}

.travel-list-child:not(:last-child) {
    margin-bottom: 10px;
    padding-bottom: 4px;
}

.travel-list-btn {
    display: flex;
    align-items: center;
    background: transparent;
}

.travel-list-child a {
    display: flex;
    align-items: center;
    transition: all 0.3s ease;
}

.travel-list-child a:hover {
    color: var(--pale-cerulean);
}

.travel-list-btn span {
    margin-right: 2px;
}

/* night mode  */
.night-mode-btn {
    display: flex;
    width: 118px;
    align-items: center;
    justify-content: space-between;
    background: var(--paley-blue);
    border-radius: 8px;
    padding: 8px;
    margin-left: 40px;
}

.header-moon-icon,
.header-sun-icon {
    width: 17px;
    height: 17px;
}

@keyframes moonRotate {
    0% {
        transform: rotate(0);
        opacity: 0;
    }

    100% {
        transform: rotate(360deg);
        opacity: 1;
    }
}

.header-moon-icon {
    display: var(--display-block);
    animation: moonRotate 0.5s 1;
}

@keyframes sunRotate {
    0% {
        transform: rotate(0);
        opacity: 0;
    }

    100% {
        transform: rotate(180deg);
        opacity: 1;
    }
}

.header-sun-icon {
    display: var(--display-none);
    animation: sunRotate 0.5s 1;
}

.night-mode-btn-first-text {
    display: var(--display-block);
    font-size: 14px;

}

.night-mode-btn-second-text {
    font-size: 14px;
    display: var(--display-none);
}

/* hero  */
.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    top: 0;
    bottom: 0;
    padding-bottom: 90px;
    background: url(../images/jizzakh-mountains-img.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-parent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    backdrop-filter: brightness(0.7);
    width: 100%;
    height: 100vh;
}

.title {
    font-weight: 400;
    font-size: 48px;
    line-height: 54px;
    margin-bottom: 12px;
}

.hero-card-text {
    max-width: 750px;
    text-align: center;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 24px;
    font-weight: 300;
}

.hero-card-link {
    display: inline-block;
    font-size: 16px;
    color: white;
    padding: 10px 28px;
    border-radius: 9px;
    border: 1px solid white;
}

@keyframes headerScrollEffect {
    0% {
        background: transparent;
        padding: 20px;
    }

    100% {
        background: #000;
        padding: 10px 0;

    }

}

.with-effect {
    box-shadow: 0 2px 2px 0 #00000037;
    margin-bottom: 90px;
    background: var(--white);
    padding: 10px 0;
    transition: all 0.4s ease;
}

/* about section  */
.about-section {
    padding: 90px 0;
}

.about-section-parent {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.about-section-title {
    list-style: 5px;
}

.about-section-parent p {
    max-width: 800px;
    font-style: italic;
    font-weight: 300;
    margin-bottom: 20px;

}

/* images  */
.about-section-images-wrapper {
    display: flex;
}

.about-section-img {
    position: relative;
    width: 360px;
    height: 500px;
    background: url(../images/jizzakh-wallpaper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 10px;
}

.about-section-img div {
    position: absolute;
    bottom: 0;
    padding: 10px;
    width: 100%;
    backdrop-filter: blur(10px);
    color: white;
    text-align: left;
    justify-content: start;
    border-radius: 0 0  10px 10px;
}

.about-section-img div h3 {
    font-size: 16px;
    font-weight: 500;
}

.about-section-img div p {
    font-size: 13px;
    font-weight: 300;
    margin-bottom: 4px;
    font-style: normal;
}

.about-section-img div a::before {
    content: '';
    width: 7px;
    height: 2px;
    border-radius: 10px;
    background: #fff;
    margin-right: 1px;
    transition: width 0.4s ease;
}

.about-section-img div a {
    display: flex;
    align-items: center;
    font-size: 12px;
    color: white;
}

.about-section-img div a:hover::before {
    width: 12px;
}

.about-section-img:nth-child(3) div {
    border-radius: 0 0 50px 10px;
}

.about-section-img:nth-child(1) {
    border-radius: 50px 10px 10px 10px;
    margin-top: 26px;
}

.about-section-img:nth-child(3) {
    border-radius: 10px 10px 50px 10px;
    margin-top: 26px;
}

.about-section-img:not(:last-child) {
    margin-right: 20px;
}

/* visit section  */

/* top  */
.visit-section-top-wrapper {
    display: flex;
    align-items: end;
    justify-content: space-between;
    margin-bottom: 48px;
}

.visit-section-top-wrapper div p {
    max-width: 600px;
    font-size: 17px;
}

.visit-section-top-wrapper a {
    background: transparent;
    padding: 8px 28px;
    border-radius: 8px;
    color: #2a4f6c;
    border: 2px solid #2a4f6c;
}

/* list  */
.visit-section-travel-list-child {
    display: flex;
    position: relative;
    align-items: center;
}

.visit-section-travel-list-child:nth-child(even) {
    justify-content: end;
}

.visit-section-travel-list-child:nth-child(odd) {
    justify-content: start;
}

.visit-section-travel-list-child:not(:last-child) {
    margin-bottom: 40px;
}

.visit-section-travel-list-child img {
    width: 75%;
    border-radius: 10px;
}

.travel-list-child-texts-parent {
    position: absolute;
    width: 700px;
    padding: 40px 36px;
    border-radius: 10px;
    background: #f1f5f8;
}

.visit-section-travel-list-child:nth-child(odd) .travel-list-child-texts-parent {
    right: 0;
}

.visit-section-travel-list-child:nth-child(even) .travel-list-child-texts-parent {
    left: 0;
}

.texts-parent-first-text {
    display: block;
    font-size: 14px;
    margin-bottom: 10px;
}

.travel-list-child-texts-parent h3 {
    font-size: 32px;
    line-height: 60px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #27374D;
}

.travel-list-child-texts-parent p {
    max-width: 580px;
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
    margin-bottom: 28px;
}

.travel-list-child-texts-parent a {
    display: inline-block;
    background: var(--paley-blue);
    padding: 14px 58px;
    border-radius: 8px;
    color: #2a4f6c;
}

/* photo gallery */
.photo-gallery-parent p {
    margin-bottom: 48px;
    font-size: 17px;
}

.photos-list {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 20px;
}

.photos-list-child {
    display: flex;
    position: relative;
    border-radius: 10px;
}

.photos-list-child img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.photos-list-child div {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: end;
    width: 100%;
    height: 100%;
    position: absolute;
    text-align: center;
    color: #fff;
    border-radius: 10px;
    overflow: hidden;
    transition: backdrop-filter 0.3s ease;
}

.photos-list-child div:hover {
    backdrop-filter: brightness(0.7);
}

.photos-list-child div:hover span {
    transform: translateY(0%);
    opacity: 1;
}

.photos-list-child div:hover h3 {
    transform: translateY(0%);
}

.photos-list-child div h3 {
    font-size: 16px;
    font-weight: 500;
    transform: translateY(50%);
    transition: transform 0.3s ease;
}

.photos-list-child div span {
    transform: translateY(200%);
    font-size: 12px;
    font-weight: 300;
    margin-bottom: 8px;
    opacity: 0;
    transition: transform 0.3s ease, opacity 1s ease;
}

/* hotels section  */
.hotels-section {
}
.hotel-parent {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    gap: 20px;
}
.hotel-parent div:nth-child(1){
    display: grid;
    grid-template-columns: auto auto;
    gap: 5px;
}
.hotel-parent div img{
    width: 100%;
    height: 100%;
    border-radius: 8px;
}
.hotel-parent div img:nth-child(1){
    grid-row: 1/3;
}
.about-hotel {
    padding: 20px;
}

/*  short texts  */
.short-text-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 16px;
}
.short-text-list-child {
    padding: 4px 10px;
    font-size: 11px;
    border-radius: 4px;
    background: #d3dee6;
    color: #526D82;
}
.short-text-list-child:not(:last-child){
    margin-right: 10px;
}
.about-hotel h3 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #27374D;
}
.about-hotel p {
    line-height: 26px;
    font-size: 17px;
    max-width: 500px;
    line-height: 28px;
    margin-bottom: 10px;
}

/* price info  */
.hotel-price-info{
    font-size: 16px !important;
    font-weight: 600;
    color: #2a4f6c;
    margin-bottom: 10px !important;
}
.hotel-price-info span,.hotel-price-info sup del{
    font-size: 13px;
    color: #526D82;
    font-weight: 500;
}
.hotel-price-info sup del{
    font-size: 9px ;
}
.hotel-visitors-information{
    display: flex;
    align-items: end;
    margin-bottom: 28px;
}
.hotel-visitors-information div:nth-child(1){
    margin-right: 70px;
}
.hotel-visitors-information div:nth-child(1), .hotel-visitors-information div:nth-child(2){
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.hotel-visitors-information div span:nth-child(1){
    font-size: 36px;
    font-weight: 700;
    color: #27374D;
}
.hotel-visitors-information div span:nth-child(2){
    font-size: 14px;
    color: #526D82;
}
.hotel-link {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #2a4f6c;
    /* max-width: 500px; */
}
.hotel-link::after{
    content: '';
    width: 14px;
    height: 14px;
    background: url(../images/arrow-up-right-icon.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    transition: transform 0.3s ease;
}
.hotel-link:hover{
    text-decoration: underline;
}
.hotel-link:hover::after{
    transform: translate(2px,-2px);
}

/* contact section */
 .contact-section {
    padding: 50px 0;
    background: #f1f5f8;
}
.contact-section-parent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.contact-section-parent p{
    max-width: 700px;
    font-weight: 300;
    margin-bottom: 2px;
}
.contact-link{
    font-size: 14px;
    color: #2a4f6c;
    margin-bottom: 20px;
    text-decoration: underline;
    transition: color 0.3s ease;
}
.contact-link:hover{
    color: #27374D;
}
.contact-section-links-parent p {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 6px;
}
.contact-section-links-parent span{
    display: flex;
    align-items: center;
}
.contact-section-links-parent span a{
    display:flex;
    align-items: center;
    border-radius: 8px;
    background: transparent;
    border: 2px solid #2a4f6c;
    color: #2a4f6c;
    font-size: 14px;
    font-weight: 500;
    padding: 8px 30px;
}
.contact-section-links-parent span a:not(:last-child){
    margin-right: 10px;
}
.contact-section-links-parent span a img{
    width: 18px;
    height: 18px;
    margin-left: 6px;
}

/* footer  */
.footer {
    padding: 60px 0;
}
.container {
}
.footer-parent {
    display: flex;
    align-items: start;
    justify-content: space-between;
}
.footer-list {

}
.footer-list-child:not(:last-child) {
    margin-bottom: 8px;
}
.footer-parent div h3{
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
}
.footer-list-child a{
    font-size: 16px;
    font-weight: 400;
    transition: color 0.3s ease;
}
.footer-list-child a:hover,.footer-link:hover{
    color: #27374D;
}
.footer-last-item {
    display: flex;
    flex-direction: column;
}
.footer-link{
    margin-top: 10px;
    transition: color 0.3s ease;
}
.footer-bottom {
    border-top: 1px solid #27374D;
    text-align: center;
    padding: 20px 0;
    color: #27374D;
}